#hero {
    background: #af1414; /* Um cinza mais forte e destacado */
    border-top: 0.125rem solid #bb0c0c; /* Bordas mais escuras */
    height: 90vh;
    display: flex;
}
#hero > img {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}
#hero p {
    color: #d41414; /* Texto em um cinza bem escuro para contraste */
}

#hero .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}

#hero .content > div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;
}

@media (min-width: 1280px) {
    #hero {
        background: #ff1c1c; /* Um cinza mais forte para telas grandes */
        border-top: none;
        height: 90vh;
        display: flex;
        overflow: hidden;
    }
    
    #hero > span {
        position: absolute;
        top: 0;
    }
    
    #hero > img {
        top: 0;
        height: 82%;
        padding-left: 55%;
    }
    
    .content p {
        width: 80%;
        align-self: center;
    }
    
    .content {
        gap: 2.5rem;
    }
    
    .content > div:first-child {
        width: 10.625rem;
    }
    
    .content p {
        width: 80%;
        align-self: center;
    }
    
    .content p:first-of-type {
        color: #942f11; /* Um laranja forte para chamar atenção */
        font-weight: bold;
    }
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh; /* altura total da viewport */
  background-image: url('../assets/castel.png'); /* Caminho da imagem */
  background-size: cover; /* Ajusta a imagem para cobrir toda a área da seção */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}
